@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../../public/fonts/Nexa-Heavy.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}


:root{
  --background-blue: #1D1B3B;
  --background-diamond: #E5E7EB;
  --background-bluelight:#463fda;
  --color-white: #ffffff;
  --color-gray: #475569;
  --color-graylight:#6b7280;
  --color-wg:#f9fafb;
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
